.outer{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top:0;
    left:0;
    background-color: rgba(24, 22, 22, 0.5);

    display:flex;
    align-items: center;
    justify-content: center;
}

.inner{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 1px solid black;

    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    background-color: white;
    color: black;
    background-color: lightpink;


    padding: 4rem;

    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
}

.inner h3{
    width: 100%;
    font-weight: bold;
    width: 10rem;
    color: white;
    line-height: 2rem;
    border-radius: 12px;
    background-color: purple;
    text-align: center;
}

.inner p{
    text-align: center;
}