.button{
    background-color: palevioletred;
    color:white;
    width: 7rem;

    padding: 0.4rem;
    border: none;
    border-radius: 1rem;

    margin: 0.5rem auto;
}

.button:hover,
.button:active {
  background: #ac0e77;
  border-color: #ac0e77;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}